rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /userProfiles/{userid} {
      allow read, write: if request.auth.uid == userid;
    }
    match /chats/{chatid} {
      allow read: if exists(/databases/$(database)/documents/chats/$(chatid)/users/$(request.auth.uid))
      allow write: if request.auth.uid == get(/databases/$(database)/documents/chats/$(chatid)).data.owner
      match /pendingUsers/{userid} {
        allow read, write: if request.auth.uid == userid && exists(/databases/$(database)/documents/chats/$(chatid))
      }
      match /users/{userid} {
        allow read: if exists(/databases/$(database)/documents/chats/$(chatid)/users/$(request.auth.uid))
        allow write: if request.auth.uid == userid && exists(/databases/$(database)/documents/chats/$(chatid))
      }
      match /messages/{messageid} {
        allow create: if request.resource.data.author == request.auth.uid
        allow update, delete: if resource.data.author == request.auth.uid
        allow read: if request.auth.uid == userid && exists(/databases/$(database)/documents/chats/$(chatid))
      }
      match /userSettings/{userid} {
        allow read: if exists(/databases/$(database)/documents/chats/$(chatid)/users/$(request.auth.uid))
        allow write: if request.auth.uid == get(/databases/$(database)/documents/chats/$(chatid)).data.owner
      }
    }
  }
}